<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Booking</title>

    <!--pageMeta-->
    <!-- Loading Bootstrap -->
    <link href="~/Content/Home/css/bootstrap.css" rel="stylesheet" />
    <!-- Loading Magnific-Popup Styles -->
    <link href="~/Content/Home/css/magnific-popup.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/Home/css/animate-custom.css">

    <!-- Loading Font Styles -->
    <link rel="stylesheet" type="text/css" href="~/Content/Home/css/font-awesome.css">

    <!-- Loading Elements Styles -->
    <link href="~/Content/Home/css/navigation-styles.css" rel="stylesheet">
    <link href="~/Content/Home/css/styles.css" rel="stylesheet">
    <link href="~/Content/Home/css/jquery.bxslider.css" rel="stylesheet" type="text/css">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="scripts/html5shiv.js"></script>
      <script src="scripts/respond.min.js"></script>
    <![endif]-->
    <!--headerIncludes-->
    @RenderSection("csss", required: false)
</head>
<body data-spy="scroll" data-target=".navMenuCollapse">

    <div id="wrap">


        <section class="ewbcraft-topbar1">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 header-base-block">
                        <div class="headder-block">
                            <div class="col-sm-2 col-xs-2 header-icon text-right">
                                <img src="~/Images/header-png2_03.png" alt="your turst our business">
                            </div>
                            <div class="col-sm-10 header-icon text-left">
                                <p>your turst our business</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 header-base-block">
                        <div class="header-rotate">
                            <div class="back-skew">
                                <a href="tel:254-256-988-1">
                                    <img src="~/Images/header-png1_03.png" alt="phone#">
                                    for details call: 254-256-988-1
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 header-base-block">
                        <div class="headder-block text-center">
                            <div class="col-sm-2 col-xs-2 header-icon text-right">
                                <img src="~/Images/header-png_03.png" alt="customer">
                            </div>
                            <div class="col-sm-10 header-icon text-left">
                                <p>27/4 fully coustomer services</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="module parallax ewebcraft-banner1">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-6 banner-text">
                        <h3>EXPLORE THE PLANET</h3>
                        <h2 class="T2Hanimate" data-animation="fadeInUp" data-offset="90%">welcome to <span>travel area</span></h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                        </p>

                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="banner-form text-center">
                            <h1>Book Now</h1>
                            <form class="contact-form" method="post">
                                <div class="expMessage"></div>
                                <div class="form-group">
                                    <label for="name" class="sr-only">Name</label>
                                    <input class="form-control" type="text" name="formInput[name]" id="name" value="" placeholder="Name" required>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="sr-only">Email</label>
                                    <input class="form-control" type="email" name="formInput[email]" id="email" value="" placeholder="Email" required>
                                </div>
                                <div class="form-group">
                                    <label for="country" class="sr-only">Country</label>
                                    <select id="country" class="form-control" name="formInput[country]">
                                        <option>Select a Country</option>
                                        <option value="AF">Afghanistan</option>
                                        <option value="AX">Åland Islands</option>
                                        <option value="AL">Albania</option>
                                        <option value="DZ">Algeria</option>
                                        <option value="AS">American Samoa</option>
                                        <option value="AD">Andorra</option>
                                        <option value="AO">Angola</option>
                                        <option value="AI">Anguilla</option>
                                        <option value="AQ">Antarctica</option>
                                        <option value="AG">Antigua and Barbuda</option>
                                        <option value="AR">Argentina</option>
                                        <option value="AM">Armenia</option>
                                        <option value="AW">Aruba</option>
                                        <option value="AU">Australia</option>
                                        <option value="AT">Austria</option>
                                        <option value="AZ">Azerbaijan</option>
                                        <option value="BS">Bahamas</option>
                                        <option value="BH">Bahrain</option>
                                        <option value="BD">Bangladesh</option>
                                        <option value="BB">Barbados</option>
                                        <option value="BY">Belarus</option>
                                        <option value="BE">Belgium</option>
                                        <option value="BZ">Belize</option>
                                        <option value="BJ">Benin</option>
                                        <option value="BM">Bermuda</option>
                                        <option value="BT">Bhutan</option>
                                        <option value="BO">Bolivia, Plurinational State of</option>
                                        <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                                        <option value="BA">Bosnia and Herzegovina</option>
                                        <option value="BW">Botswana</option>
                                        <option value="BV">Bouvet Island</option>
                                        <option value="BR">Brazil</option>
                                        <option value="IO">British Indian Ocean Territory</option>
                                        <option value="BN">Brunei Darussalam</option>
                                        <option value="BG">Bulgaria</option>
                                        <option value="BF">Burkina Faso</option>
                                        <option value="BI">Burundi</option>
                                        <option value="KH">Cambodia</option>
                                        <option value="CM">Cameroon</option>
                                        <option value="CA">Canada</option>
                                        <option value="CV">Cape Verde</option>
                                        <option value="KY">Cayman Islands</option>
                                        <option value="CF">Central African Republic</option>
                                        <option value="TD">Chad</option>
                                        <option value="CL">Chile</option>
                                        <option value="CN">China</option>
                                        <option value="CX">Christmas Island</option>
                                        <option value="CC">Cocos (Keeling) Islands</option>
                                        <option value="CO">Colombia</option>
                                        <option value="KM">Comoros</option>
                                        <option value="CG">Congo</option>
                                        <option value="CD">
                                            Congo, the Democratic Republic of the
                                        </option>
                                        <option value="CK">Cook Islands</option>
                                        <option value="CR">Costa Rica</option>
                                        <option value="CI">Côte d'Ivoire</option>
                                        <option value="HR">Croatia</option>
                                        <option value="CU">Cuba</option>
                                        <option value="CW">Curaçao</option>
                                        <option value="CY">Cyprus</option>
                                        <option value="CZ">Czech Republic</option>
                                        <option value="DK">Denmark</option>
                                        <option value="DJ">Djibouti</option>
                                        <option value="DM">Dominica</option>
                                        <option value="DO">Dominican Republic</option>
                                        <option value="EC">Ecuador</option>
                                        <option value="EG">Egypt</option>
                                        <option value="SV">El Salvador</option>
                                        <option value="GQ">Equatorial Guinea</option>
                                        <option value="ER">Eritrea</option>
                                        <option value="EE">Estonia</option>
                                        <option value="ET">Ethiopia</option>
                                        <option value="FK">Falkland Islands (Malvinas)</option>
                                        <option value="FO">Faroe Islands</option>
                                        <option value="FJ">Fiji</option>
                                        <option value="FI">Finland</option>
                                        <option value="FR">France</option>
                                        <option value="GF">French Guiana</option>
                                        <option value="PF">French Polynesia</option>
                                        <option value="TF">French Southern Territories</option>
                                        <option value="GA">Gabon</option>
                                        <option value="GM">Gambia</option>
                                        <option value="GE">Georgia</option>
                                        <option value="DE">Germany</option>
                                        <option value="GH">Ghana</option>
                                        <option value="GI">Gibraltar</option>
                                        <option value="GR">Greece</option>
                                        <option value="GL">Greenland</option>
                                        <option value="GD">Grenada</option>
                                        <option value="GP">Guadeloupe</option>
                                        <option value="GU">Guam</option>
                                        <option value="GT">Guatemala</option>
                                        <option value="GG">Guernsey</option>
                                        <option value="GN">Guinea</option>
                                        <option value="GW">Guinea-Bissau</option>
                                        <option value="GY">Guyana</option>
                                        <option value="HT">Haiti</option>
                                        <option value="HM">Heard Island and McDonald Islands</option>
                                        <option value="VA">Holy See (Vatican City State)</option>
                                        <option value="HN">Honduras</option>
                                        <option value="HK">Hong Kong</option>
                                        <option value="HU">Hungary</option>
                                        <option value="IS">Iceland</option>
                                        <option value="IN">India</option>
                                        <option value="ID">Indonesia</option>
                                        <option value="IR">Iran, Islamic Republic of</option>
                                        <option value="IQ">Iraq</option>
                                        <option value="IE">Ireland</option>
                                        <option value="IM">Isle of Man</option>
                                        <option value="IL">Israel</option>
                                        <option value="IT">Italy</option>
                                        <option value="JM">Jamaica</option>
                                        <option value="JP">Japan</option>
                                        <option value="JE">Jersey</option>
                                        <option value="JO">Jordan</option>
                                        <option value="KZ">Kazakhstan</option>
                                        <option value="KE">Kenya</option>
                                        <option value="KI">Kiribati</option>
                                        <option value="KP">
                                            Korea, Democratic People's Republic of
                                        </option>
                                        <option value="KR">Korea, Republic of</option>
                                        <option value="KW">Kuwait</option>
                                        <option value="KG">Kyrgyzstan</option>
                                        <option value="LA">Lao People's Democratic Republic</option>
                                        <option value="LV">Latvia</option>
                                        <option value="LB">Lebanon</option>
                                        <option value="LS">Lesotho</option>
                                        <option value="LR">Liberia</option>
                                        <option value="LY">Libya</option>
                                        <option value="LI">Liechtenstein</option>
                                        <option value="LT">Lithuania</option>
                                        <option value="LU">Luxembourg</option>
                                        <option value="MO">Macao</option>
                                        <option value="MK">
                                            Macedonia, the former Yugoslav Republic of
                                        </option>
                                        <option value="MG">Madagascar</option>
                                        <option value="MW">Malawi</option>
                                        <option value="MY">Malaysia</option>
                                        <option value="MV">Maldives</option>
                                        <option value="ML">Mali</option>
                                        <option value="MT">Malta</option>
                                        <option value="MH">Marshall Islands</option>
                                        <option value="MQ">Martinique</option>
                                        <option value="MR">Mauritania</option>
                                        <option value="MU">Mauritius</option>
                                        <option value="YT">Mayotte</option>
                                        <option value="MX">Mexico</option>
                                        <option value="FM">Micronesia, Federated States of</option>
                                        <option value="MD">Moldova, Republic of</option>
                                        <option value="MC">Monaco</option>
                                        <option value="MN">Mongolia</option>
                                        <option value="ME">Montenegro</option>
                                        <option value="MS">Montserrat</option>
                                        <option value="MA">Morocco</option>
                                        <option value="MZ">Mozambique</option>
                                        <option value="MM">Myanmar</option>
                                        <option value="NA">Namibia</option>
                                        <option value="NR">Nauru</option>
                                        <option value="NP">Nepal</option>
                                        <option value="NL">Netherlands</option>
                                        <option value="NC">New Caledonia</option>
                                        <option value="NZ">New Zealand</option>
                                        <option value="NI">Nicaragua</option>
                                        <option value="NE">Niger</option>
                                        <option value="NG">Nigeria</option>
                                        <option value="NU">Niue</option>
                                        <option value="NF">Norfolk Island</option>
                                        <option value="MP">Northern Mariana Islands</option>
                                        <option value="NO">Norway</option>
                                        <option value="OM">Oman</option>
                                        <option value="PK">Pakistan</option>
                                        <option value="PW">Palau</option>
                                        <option value="PS">Palestinian Territory, Occupied</option>
                                        <option value="PA">Panama</option>
                                        <option value="PG">Papua New Guinea</option>
                                        <option value="PY">Paraguay</option>
                                        <option value="PE">Peru</option>
                                        <option value="PH">Philippines</option>
                                        <option value="PN">Pitcairn</option>
                                        <option value="PL">Poland</option>
                                        <option value="PT">Portugal</option>
                                        <option value="PR">Puerto Rico</option>
                                        <option value="QA">Qatar</option>
                                        <option value="RE">Réunion</option>
                                        <option value="RO">Romania</option>
                                        <option value="RU">Russian Federation</option>
                                        <option value="RW">Rwanda</option>
                                        <option value="BL">Saint Barthélemy</option>
                                        <option value="SH">
                                            Saint Helena, Ascension and Tristan da Cunha
                                        </option>
                                        <option value="KN">Saint Kitts and Nevis</option>
                                        <option value="LC">Saint Lucia</option>
                                        <option value="MF">Saint Martin (French part)</option>
                                        <option value="PM">Saint Pierre and Miquelon</option>
                                        <option value="VC">Saint Vincent and the Grenadines</option>
                                        <option value="WS">Samoa</option>
                                        <option value="SM">San Marino</option>
                                        <option value="ST">Sao Tome and Principe</option>
                                        <option value="SA">Saudi Arabia</option>
                                        <option value="SN">Senegal</option>
                                        <option value="RS">Serbia</option>
                                        <option value="SC">Seychelles</option>
                                        <option value="SL">Sierra Leone</option>
                                        <option value="SG">Singapore</option>
                                        <option value="SX">Sint Maarten (Dutch part)</option>
                                        <option value="SK">Slovakia</option>
                                        <option value="SI">Slovenia</option>
                                        <option value="SB">Solomon Islands</option>
                                        <option value="SO">Somalia</option>
                                        <option value="ZA">South Africa</option>
                                        <option value="GS">
                                            South Georgia and the South Sandwich Islands
                                        </option>
                                        <option value="SS">South Sudan</option>
                                        <option value="ES">Spain</option>
                                        <option value="LK">Sri Lanka</option>
                                        <option value="SD">Sudan</option>
                                        <option value="SR">Suriname</option>
                                        <option value="SJ">Svalbard and Jan Mayen</option>
                                        <option value="SZ">Swaziland</option>
                                        <option value="SE">Sweden</option>
                                        <option value="CH">Switzerland</option>
                                        <option value="SY">Syrian Arab Republic</option>
                                        <option value="TW">Taiwan, Province of China</option>
                                        <option value="TJ">Tajikistan</option>
                                        <option value="TZ">Tanzania, United Republic of</option>
                                        <option value="TH">Thailand</option>
                                        <option value="TL">Timor-Leste</option>
                                        <option value="TG">Togo</option>
                                        <option value="TK">Tokelau</option>
                                        <option value="TO">Tonga</option>
                                        <option value="TT">Trinidad and Tobago</option>
                                        <option value="TN">Tunisia</option>
                                        <option value="TR">Turkey</option>
                                        <option value="TM">Turkmenistan</option>
                                        <option value="TC">Turks and Caicos Islands</option>
                                        <option value="TV">Tuvalu</option>
                                        <option value="UG">Uganda</option>
                                        <option value="UA">Ukraine</option>
                                        <option value="AE">United Arab Emirates</option>
                                        <option value="GB">United Kingdom</option>
                                        <option value="US">United States</option>
                                        <option value="UM">
                                            United States Minor Outlying Islands
                                        </option>
                                        <option value="UY">Uruguay</option>
                                        <option value="UZ">Uzbekistan</option>
                                        <option value="VU">Vanuatu</option>
                                        <option value="VE">Venezuela, Bolivarian Republic of</option>
                                        <option value="VN">Viet Nam</option>
                                        <option value="VG">Virgin Islands, British</option>
                                        <option value="VI">Virgin Islands, U.S.</option>
                                        <option value="WF">Wallis and Futuna</option>
                                        <option value="EH">Western Sahara</option>
                                        <option value="YE">Yemen</option>
                                        <option value="ZM">Zambia</option>
                                        <option value="ZW">Zimbabwe</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="message" class="sr-only">Message</label>
                                    <textarea placeholder="Message" class="form-control" name="formInput[message]" rows="4" required></textarea>
                                </div>

                                <input type="hidden" name="action" value="submitform">
                                <button type="submit" class="btn btn-default">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="ewebcraft-features2">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 service-block">
                        <div class="service-icon">
                            <img src="~/Images/Travel-icon_03.png" alt="map">
                        </div>
                        <div class="service-text">
                            <h3 class="T2Hanimate" data-animation="fadeInUp" data-offset="90%">Destinations</h3>
                            <p>Sed bibendum, arcu ac rhoncu nullalectus dictum mauris massa ipsum iispn nibh. Sed bibendum arcu acor.</p>
                        </div>
                    </div>

                    <div class="col-sm-3 service-block">
                        <div class="service-icon">
                            <img src="~/Images/Travel-icon_05.png" alt="arrowplain-icon">
                        </div>
                        <div class="service-text">
                            <h3 class="T2Hanimate" data-animation="fadeInUp" data-offset="90%">Hot Tours </h3>
                            <p>Sed bibendum, arcu ac rhoncu nullalectus dictum mauris massa ipsum iispn nibh. Sed bibendum arcu acor.</p>
                        </div>
                    </div>

                    <div class="col-sm-3 service-block">
                        <div class="service-icon">
                            <img src="~/Images/Travel-icon_11.png" alt="car-icon">
                        </div>
                        <div class="service-text">
                            <h3 class="T2Hanimate" data-animation="fadeInUp" data-offset="90%">pick &amp; drop</h3>
                            <p>Sed bibendum, arcu ac rhoncu nullalectus dictum mauris massa ipsum iispn nibh. Sed bibendum arcu acor.</p>
                        </div>
                    </div>

                    <div class="col-sm-3 service-block">
                        <div class="service-icon">
                            <img src="~/Images/Travel-icon_08.png" alt="honeymoon">
                        </div>
                        <div class="service-text">
                            <h3 class="T2Hanimate" data-animation="fadeInUp" data-offset="90%">Honeymoons</h3>
                            <p>Sed bibendum, arcu ac rhoncu nullalectus dictum mauris massa ipsum iispn nibh. Sed bibendum arcu acor.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--end features--><!-- SERVICE BOX START -->
        <section class="ewebcraft-services4">
            <div class="container ">
                <div class="row">
                    <div class="main-text text-center">
                        <h2 class="T2Hanimate" data-animation="fadeInUp" data-offset="90%">What it can do for you</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt is the
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                        </p>
                    </div>
                    <div class="col-sm-4 package-block">
                        <div class="package-block-image">
                            <img src="~/Images/package1_05.jpg" alt="Austria tour">
                        </div>
                        <div class="package-text">
                            <div class="col-sm-5 col-md-6 col-xs-5 package-block-left-text">
                                <h3 class="T2Hanimate" data-animation="fadeInUp" data-offset="90%">Austria tour</h3>
                            </div>
                            <div class="col-md-6 col-sm-7 col-xs-7 package-block-right-text">
                                <div class=" col-sm-6 col-xs-6 package-price">
                                    <p>$200.00</p>
                                </div>
                                <div class=" col-sm-6 col-xs-6 package-date">
                                    <p class="in-figure">40</p>
                                    <p>Day</p>
                                </div>
                            </div>
                        </div>
                        <hr class="package-bottom-line">
                    </div>

                    <div class="col-sm-4 package-block">
                        <div class="package-block-image">
                            <img src="~/Images/package-image2_03.jpg" alt="california tour">
                        </div>
                        <div class="package-text">
                            <div class="col-sm-5 col-md-6 col-xs-5 package-block-left-text">
                                <h3 class="T2Hanimate" data-animation="fadeInUp" data-offset="90%">california tour</h3>
                            </div>
                            <div class="col-md-6 col-sm-7 col-xs-7 package-block-right-text">
                                <div class=" col-sm-6 col-xs-6 package-price">
                                    <p>$150.00</p>
                                </div>
                                <div class=" col-sm-6 col-xs-6 package-date">
                                    <p class="in-figure">25</p>
                                    <p>Day</p>
                                </div>
                            </div>
                        </div>
                        <hr class="package-bottom-line">
                    </div>

                    <div class="col-sm-4 package-block">
                        <div class="package-block-image">
                            <img src="~/Images/package-image-3_05.jpg" alt="canada tour">
                        </div>
                        <div class="package-text">
                            <div class=" col-sm-5 col-md-6 col-xs-5 package-block-left-text">
                                <h3 class="T2Hanimate" data-animation="fadeInUp" data-offset="90%">canada tour</h3>
                            </div>
                            <div class="col-md-6 col-sm-7 col-xs-7 package-block-right-text">
                                <div class=" col-sm-6 col-xs-6 package-price">
                                    <p>$300.00</p>
                                </div>
                                <div class=" col-sm-6 col-xs-6 package-date">
                                    <p class="in-figure">30</p>
                                    <p>Day</p>
                                </div>
                            </div>
                        </div>
                        <hr class="package-bottom-line">
                    </div>
                </div>
            </div>
        </section>
        <!-- SERVICE BOX END --><!--start features-->

        <section class="ewebcraft-features3">
            <div class="container ">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12 tour-reviews">
                        <div class="reviews-main-text">
                            <h2>Amazing Tours Review</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt is the ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt is the ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. </p>
                            <ul>
                                <li><i class="fa fa-check"></i>Lorem Ipsum is slechts een proeftekst</li>
                                <li><i class="fa fa-check"></i>Lorem Ipsum is slechts een proeftekst</li>
                                <li><i class="fa fa-check"></i>Lorem Ipsum is slechts een proeftekst</li>
                                <li><i class="fa fa-check"></i>Lorem Ipsum is slechts een proeftekst</li>
                                <li><i class="fa fa-check"></i>Lorem Ipsum is slechts een proeftekst</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 tour-reviews">
                        <div style="max-width: 100%;" class="bx-wrapper">
                            <div style="width: 100%; overflow: hidden; position: relative; height: 365px;" class="bx-viewport">
                                <ul style="width: 515%; position: relative; transition-duration: 0s; transform: translate3d(-1110px, 0px, 0px);" class="tour-slider">
                                    <li class="bx-clone" style="float: left; list-style: outside none none; position: relative; width: 555px;">
                                        <img src="~/Images/tour-img_03.jpg" alt="Amazing Tours Review">
                                    </li>
                                    <li style="float: left; list-style: outside none none; position: relative; width: 555px;">
                                        <img src="~/Images/tour-img_03.jpg" alt="Amazing Tours Review">
                                    </li>
                                    <li style="float: left; list-style: outside none none; position: relative; width: 555px;">
                                        <img src="~/Images/tour-img_03.jpg" alt="Amazing Tours Review">
                                    </li>
                                    <li style="float: left; list-style: outside none none; position: relative; width: 555px;">
                                        <img src="~/Images/tour-img_03.jpg" alt="Amazing Tours Review">
                                    </li>
                                    <li class="bx-clone" style="float: left; list-style: outside none none; position: relative; width: 555px;">
                                        <img src="~/Images/tour-img_03.jpg" alt="Amazing Tours Review">
                                    </li>
                                </ul>
                            </div><div class="bx-controls bx-has-pager bx-has-controls-direction bx-has-controls-auto"><div class="bx-pager bx-default-pager"><div class="bx-pager-item"><a href="#" data-slide-index="0" class="bx-pager-link">1</a></div><div class="bx-pager-item"><a href="#" data-slide-index="1" class="bx-pager-link active">2</a></div><div class="bx-pager-item"><a href="#" data-slide-index="2" class="bx-pager-link">3</a></div></div><div class="bx-controls-direction"><a class="bx-prev" href="#">Prev</a><a class="bx-next" href="#">Next</a></div><div class="bx-controls-auto"><div class="bx-controls-auto-item"><a class="bx-start active" href="#">Start</a></div><div class="bx-controls-auto-item"><a class="bx-stop" href="#">Stop</a></div></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--end features--><!--start features-->

        <section class="ewebcraft-features3">
            <div class="container ">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12 tour-reviews">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                            <i class="indicator fa fa-minus"></i> our Policies
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="about-us-panel-text col-sm-8">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt is the ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.  Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        </div>
                                        <div class="about-us-panel-image col-sm-4">
                                            <img src="~/Images/accordain-image.png" alt="our Policies">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                            <i class="indicator fa fa-plus"></i> Recent tours
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="about-us-panel-text col-sm-8">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt is the ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.  Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        </div>
                                        <div class="about-us-panel-image col-sm-4">
                                            <img src="~/Images/accordain-image.png" alt="Recent tours">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                            <i class="indicator fa fa-plus"></i> most popular countries
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="about-us-panel-text col-sm-8">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt is the ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.  Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        </div>
                                        <div class="about-us-panel-image col-sm-4">
                                            <img src="~/Images/accordain-image.png" alt="most popular countries">
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapsefour">
                                            <i class="indicator fa fa-plus"></i> tour guides
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapsefour" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="about-us-panel-text col-sm-8">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt is the ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.  Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        </div>
                                        <div class="about-us-panel-image col-sm-4">
                                            <img src="~/Images/accordain-image.png" alt="tour guides">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 tour-reviews">
                        <div class="reviews-main-text">
                            <h2>Amazing Tours Review</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt is the ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt is the ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. </p>
                            <ul>
                                <li><i class="fa fa-check"></i>Lorem Ipsum is slechts een proeftekst</li>
                                <li><i class="fa fa-check"></i>Lorem Ipsum is slechts een proeftekst</li>
                                <li><i class="fa fa-check"></i>Lorem Ipsum is slechts een proeftekst</li>
                                <li><i class="fa fa-check"></i>Lorem Ipsum is slechts een proeftekst</li>
                                <li><i class="fa fa-check"></i>Lorem Ipsum is slechts een proeftekst</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--end features--><!--start video-->

        <section id="video-box">
            <div class="container ">
                <div class="row">
                    <div class="video">
                        <iframe style="border:0px; width:100%; height:360px;" src="http://www.youtube.com/embed/BrDlrytgm8?rel=0&amp;autoplay=0"></iframe>
                    </div>
                </div>
            </div>
        </section>

        <!--end video--><!-- Testmonial start -->
        <section id="feedback" class="ewc-testimonials-1">
            <div class="container ">
                <div class="row">
                    <div class="col-sm-12 feaadback-heading text-center">
                        <h2 class="T2Hanimate" data-animation="fadeInUp" data-offset="90%">What Client’s says</h2>
                    </div>
                    <div class="col-sm-6 feedback-block">
                        <p>“Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consec tetur, adipisci velit, sed quia non numquam eius modi tempora incidunt utis labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minimas veniam, quis nostrum exercitationem. “Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet</p>
                        <div class="user-information">
                            <div class="col-sm-1 user-image">
                                <img src="~/Images/user.png" alt="Jon Doe">
                            </div>
                            <div class="col-sm-11 user-name text-left">
                                <h4 class="T2Hanimate" data-animation="fadeInUp" data-offset="90%">Jon Doe,<span> Company Inc.</span></h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 feedback-block">
                        <p>“Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consec tetur, adipisci velit, sed quia non numquam eius modi tempora incidunt utis labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minimas veniam, quis nostrum exercitationem. “Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet</p>
                        <div class="user-information">
                            <div class="col-sm-1 user-image">
                                <img src="~/Images/user.png" alt="Jon Doe">
                            </div>
                            <div class="col-sm-11 user-name text-left">
                                <h4 class="T2Hanimate" data-animation="fadeInUp" data-offset="90%">Jon Doe,<span> Company Inc.</span></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!-- Testmonial end --><div id="newsletter" class="ewc-subscription-3">
        <div class="container inner-sub">
            <div class="row">
                <div class="newsletter-icon text-center">
                    <i class="fa fa-envelope-o"></i>
                </div>
                <div class="newsletter-block">
                    <form action="#" class="form-inline" method="post">
                        <div class="form-group firstname col-sm-9">
                            <input name="first-name" class="form-control" placeholder="First Name" type="text">


                            <input name="first-name" class="form-control" placeholder="Email" type="email">
                        </div>
                        <div class="form-group col-sm-3">

                            <button type="submit" class="btn btn-default">
                                <i class="fa fa-paper-plane-o"></i>
                                Subscribe
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <section id="footer" class="ewc-footer-3">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 footer-block text-center">
                        <img src="~/Images/Travel-icon_18.png" alt="map-icon">
                        <h3 class="T2Hanimate" data-animation="fadeInUp" data-offset="90%">ADDRESS</h3>
                        <p>250 Elizabeth Str., Melbourne, Australia</p>
                    </div>
                    <div class="col-sm-4 footer-block text-center">
                        <img src="~/Images/Travel-icon_24.png" alt="message">
                        <h3 class="T2Hanimate" data-animation="fadeInUp" data-offset="90%">contact</h3>
                        <p>250 Elizabeth Str., Melbourne, Australia</p>
                    </div>
                    <div class="col-sm-4 footer-block text-center">
                        <img src="~/Images/Travel-icon_21.png" alt="phone">
                        <h3 class="T2Hanimate" data-animation="fadeInUp" data-offset="90%">phone</h3>
                        <p>254-256-988-1 or 325-588-687</p>
                    </div>
                    <div class="col-sm-12 social-icon text-center">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-flickr"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-tumblr"></i></a>
                    </div>
                    <div class="col-sm-12 footer-bottom text-center">
                        <a href="http://themeforest.net/user/ewebcraft">© Travel Area 2015, All Rights Reserved, Developed by ewebcraft</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- /#wrap -->
    <!-- JavaScript -->
    <script src="~/Scripts/Home/jquery.js"></script>
    <script src="~/Scripts/Home/bootstrap.min.js"></script>
    <script src="~/Scripts/Home/smoothScroll.js" type="text/javascript"></script>
    <script src="~/Scripts/Home/waypoints.js" type="text/javascript"></script>
    <script src="~/Scripts/Home/script.js" type="text/javascript"></script>
    <script src="~/Scripts/Home/jquery.bxslider.js" type="text/javascript"></script>
    @RenderBody()
@RenderSection("scripts", required: false)
</body>
</html>