<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>HOTEL</title>

    <link href="~/Content/Hotel/css/bootstrap.css" rel="stylesheet">
    <link href="~/Content/Hotel/css/magnific-popup.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/Hotel/css/animate-custom.css">
    <link href="~/Content/Hotel/css/prettyPhoto.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Hotel/css/hover-min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/Content/Hotel/css/font-awesome.css">
    <link href="~/Content/Hotel/css/navigation-styles.css" rel="stylesheet">
    <link href="~/Content/Hotel/css/jquery.bxslider.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Hotel/css/styles.css" rel="stylesheet">
    @RenderSection("csss", required: false)

    @*<script style="" src="http://maps.googleapis.com/maps-api-v3/api/js/22/5a/common.js" charset="UTF-8" type="text/javascript"></script>
    <script src="http://maps.googleapis.com/maps-api-v3/api/js/22/5a/util.js" charset="UTF-8" type="text/javascript"></script>
    <script src="http://maps.googleapis.com/maps-api-v3/api/js/22/5a/stats.js" charset="UTF-8" type="text/javascript"></script>
    <script src="http://maps.googleapis.com/maps/api/js/AuthenticationService.Authenticate?1shttp%3A%2F%2Flocalhost%3A255%2Felements%2Fskeleton.html&amp;callback=_xdc_._7mmtyy&amp;token=30077" charset="UTF-8" type="text/javascript"></script>*@
</head>
<body data-spy="scroll" data-target=".navMenuCollapse">

    <div id="wrap">

        <section class="module parallax ewebcraft-banner5" style="height: 100vh;">
            <div class="container">
                <div class="row">

                    <div class="col-sm-12 banner-block  text-center">
                        <h1>HOTEL NAME</h1>
                        <h2>ENJOY WITH US</h2>
                        <hr>
                    </div>
                </div>
            </div>
        </section><!-- Content start -->

        <section class="ewc-content-10">
            <div class="container">
                <div class="row">
                    <div class="pmain_block text-center">
                        <h3>Rooms</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pulvinar elit at pulvinar posuere Etiam nisi mauris Lorem ipsum dolor sit amet, consectetur adipiscing el.
                        </p>
                    </div>
                    <div class="prooerty_block">
                        <div class="col-md-4 col-sm-6 text-center">
                            <div class="property_item">
                                <h4>Apartment d-1</h4>
                                <img src="/Images/RealEstate_03.jpg" class="hvr-bob img-responsive" alt="property images">
                                <div class="pinfo">
                                    <p>floors:<span class="margin-right">3</span> Bathrooms:<span>3</span></p>
                                    <p>Rooms:<span class="margin-right">4</span> Available:<span>3</span></p>
                                </div>
                                <h4 class="btn btn-default hvr-shutter-out-horizontal hvr-wobble-bottom">
                                    <span>Book Now</span>
                                </h4>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 text-center">
                            <div class="property_item">
                                <h4>Apartment d-1</h4>
                                <img src="/Images/RealEstate_05.png" class="hvr-bob img-responsive" alt="property images">
                                <div class="pinfo">
                                    <p>floors:<span class="margin-right">3</span> Bathrooms:<span>3</span></p>
                                    <p>Rooms:<span class="margin-right">4</span> Available:<span>3</span></p>
                                </div>
                                <h4 class="btn btn-default hvr-shutter-out-horizontal hvr-wobble-bottom">Book Now</h4>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 text-center">
                            <div class="property_item">
                                <h4>Apartment d-1</h4>
                                <img src="/Images/RealEstate_07.png" class="hvr-bob img-responsive" alt="property images">
                                <div class="pinfo">
                                    <p>floors:<span class="margin-right">3</span> Bathrooms:<span>3</span></p>
                                    <p>Rooms:<span class="margin-right">4</span> Available:<span>3</span></p>
                                </div>
                                <h4 class="btn btn-default hvr-shutter-out-horizontal hvr-wobble-bottom">Book Now</h4>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 text-center">
                            <div class="property_item">
                                <h4>Apartment d-1</h4>
                                <img src="/Images/RealEstate_12.png" class="hvr-bob img-responsive" alt="property images">
                                <div class="pinfo">
                                    <p>floors:<span class="margin-right">3</span> Bathrooms:<span>3</span></p>
                                    <p>Rooms:<span class="margin-right">4</span> Available:<span>3</span></p>
                                </div>
                                <h4 class="btn btn-default hvr-shutter-out-horizontal hvr-wobble-bottom">Book Now</h4>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 text-center">
                            <div class="property_item">
                                <h4>Apartment d-1</h4>
                                <img src="/Images/RealEstate_14.png" class="hvr-bob img-responsive" alt="property images">
                                <div class="pinfo">
                                    <p>floors:<span class="margin-right">3</span> Bathrooms:<span>3</span></p>
                                    <p>Rooms:<span class="margin-right">4</span> Available:<span>3</span></p>
                                </div>
                                <h4 class="btn btn-default hvr-shutter-out-horizontal hvr-wobble-bottom">Book Now</h4>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 text-center">
                            <div class="property_item">
                                <h4>Apartment d-1</h4>
                                <img src="/Images/RealEstate_15.png" class="hvr-bob img-responsive" alt="property images">
                                <div class="pinfo">
                                    <p>floors:<span class="margin-right">3</span> Bathrooms:<span>3</span></p>
                                    <p>Rooms:<span class="margin-right">4</span> Available:<span>3</span></p>
                                </div>
                                <h4 class="btn btn-default hvr-shutter-out-horizontal hvr-wobble-bottom">Book Now</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!--start video-->

        <section class="ewc-video-4">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5 col-md-4 videotext">
                        <h3>Enjoy With Us</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pulvinar elit at pulvinar posuere Etiam nisi mauris Lorem ipsum dolor sit amet, consectetur adipiscing el.</p>
                        <ul>
                            <li>Consectetur adipiscing elit. Suspendisse</li>
                            <li>Lorem ipsum dolor sit amet</li>
                            <li>risus sit amet auctor sodales</li>
                        </ul>
                    </div>

                    <div class="col-sm-7 col-md-8 video">
                        <iframe src="http://www.youtube.com/embed/g-jUY8khIoQ?autoplay=0" style="border:0px; width:100%; height:420px;"></iframe>
                    </div>
                </div>
            </div>
        </section>


        <section id="clients-logo-slider" class="slider-bgGray text-center">
            <div id="carousel-logo" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">

                    <div class="item active">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-3">
                                    <img src="/Images/client-1.png" alt="logo">
                                </div>
                                <div class="col-sm-3">
                                    <img src="/Images/client-2.png" alt="logo">
                                </div>
                                <div class="col-sm-3">
                                    <img src="/Images/client-3.png" alt="logo">
                                </div>
                                <div class="col-sm-3">
                                    <img src="/Images/client-4.png" alt="logo">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-3">
                                    <img src="/Images/client-1.png" alt="logo">
                                </div>
                                <div class="col-sm-3">
                                    <img src="/Images/client-2.png" alt="logo">
                                </div>
                                <div class="col-sm-3">
                                    <img src="/Images/client-3.png" alt="logo">
                                </div>
                                <div class="col-sm-3">
                                    <img src="/Images/client-4.png" alt="logo">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>


        <section id="ewc-footer-6">
            <div class="container">
                <div class="row">
                    <div class="social_icon col-sm-6 text-left">
                        <div class="icon hvr-wobble-bottom hvr-fade">
                            <a href="#" class="hvr-wobble-bottom hvr-fade"><i class="fa fa-facebook"></i></a>
                        </div>
                        <div class="icon hvr-wobble-bottom hvr-fade">
                            <a href="#" class="hvr-wobble-bottom hvr-fade"><i class="fa fa-google"></i></a>
                        </div>
                        <div class="icon hvr-wobble-bottom hvr-fade">
                            <a href="#" class="hvr-wobble-bottom hvr-fade"><i class="fa fa-twitter"></i></a>
                        </div>
                        <div class="icon hvr-wobble-bottom hvr-fade">
                            <a href="#" class="hvr-wobble-bottom hvr-fade"><i class="fa fa-linkedin"></i></a>
                        </div>
                        <div class="icon hvr-wobble-bottom hvr-fade">
                            <a href="#" class="hvr-wobble-bottom hvr-fade"><i class="fa fa-dribbble"></i></a>
                        </div>
                        <div class="icon hvr-wobble-bottom hvr-fade">
                            <a href="#" class="hvr-wobble-bottom hvr-fade"><i class="fa fa-instagram"></i></a>
                        </div>
                        <div class="icon hvr-wobble-bottom hvr-fade">
                            <a href="#" class="hvr-wobble-bottom hvr-fade"><i class="fa fa-youtube-play"></i></a>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div><!-- /#wrap -->
    <!-- JavaScript -->
    <script src="~/Scripts/Hotel/jquery.js" type="text/javascript"></script>
    <script src="~/Scripts/Hotel/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/Hotel/smoothScroll.js" type="text/javascript"></script>
    <script src="~/Scripts/Hotel/waypoints.js" type="text/javascript"></script>
    @*<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="http://maps.googleapis.com/maps-api-v3/api/js/22/5a/main.js"></script>*@
    <script src="~/Scripts/Hotel/jquery.prettyPhoto.js" type="text/javascript"></script>
    <script src="~/Scripts/Hotel/jquery.bxslider.js" type="text/javascript"></script>
    <script src="~/Scripts/Hotel/jquery.counterup.js" type="text/javascript"></script>
    <script src="~/Scripts/Hotel/script.js" type="text/javascript"></script>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>