@model GpBooking.Models.Restaurant

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Restaurant</title>

    <!--pageMeta-->
    <!-- Loading Bootstrap -->
    <link href="~/Content/Restaurant/css/bootstrap.css" rel="stylesheet">

    <link href="~/Content/Restaurant/css/magnific-popup.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/Restaurant/css/animate-custom.css">
    <link href="~/Content/Restaurant/css/prettyPhoto.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Restaurant/css/hover-min.css" rel="stylesheet" type="text/css">

    <!-- Loading Font Styles -->
    <link rel="stylesheet" type="text/css" href="~/Content/Restaurant/css/font-awesome.css">

    <!-- Loading Elements Styles -->
    <link href="~/Content/Restaurant/css/navigation-styles.css" rel="stylesheet">
    <link href="~/Content/Restaurant/css/jquery.bxslider.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Restaurant/css/styles.css" rel="stylesheet">

    @*@RenderSection("csss", required: false)*@

</head>
<body data-spy="scroll" data-target=".navMenuCollapse">

    <div id="wrap">

        <section class="ewbcraft-topbar1">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 header-base-block">
                        <div class="headder-block">
                            <div class=" header-icon text-left">
                                <p><img src="/Images/header-png2_03.png" alt="your turst our business">your turst our business</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 header-base-block">
                        <div class="header-rotate">
                            <div class="back-skew">
                                <a href="tel:0000000000">
                                    <img src="/Images/header-png1_03.png" alt="phone#">
                                    for details call: 00000000000
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 header-base-block">
                        <div class="headder-block text-right">

                            <div class=" header-icon">
                                <p><img src="/Images/header-png_03.png" alt="customer">27/4 fully coustomer services</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- end header -->
        <!-- BANNER START -->
        <section style="background-image: url(/Images/Rest-banner_02.jpg);" class="module parallax ewebcraft-banner1">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-2 col-sm-1"></div>
                    <div class="col-md-8 col-sm-6 banner-text">
                        <h3>Visit Lunch Box Today</h3>
                        <h2 class="T2Hanimate" data-animation="fadeInUp" data-offset="90%">Fresh &amp; Fast <span>Delicious!</span></h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                        </p>

                    </div>

                </div>
                </div>
        </section>
        <!-- BANNER END --><div id="about" class="module parallax parallax-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                        <h2 class="section-heading wow fadeInUp" data-wow-duration="2s">
                            We’ll cater any size party
                        </h2>
                        <p class="section-text wow fadeInUp" data-wow-duration="1s">
                            Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, adipiscing vitae est.<br class="hidden-sm">Sed nec felis pellentesque, lacinia dui sed, ultricies sapien.
                        </p>
                    </div>
                </div>
                <div class="row section-detail">
                    <div class="col-lg-3 col-md-3 col-sm-6 detail wow pulse" data-wow-duration="1s">
                        <div class="col-xs-12">
                            <img src="/Images/2n-image.png" class="img-responsive detail-image" alt="24/7-image">
                        </div>
                        <div class="col-xs-12">
                            <h3>TRULY TASTEFUL</h3>
                            <p>
                                Mauris accumsan eros eget<br> libero posuere vulputate. Etiam elit elit, elementum sed varius at,<br>libero posuere vulputate. Etiam elit
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 detail wow pulse" data-wow-duration="1s">
                        <div class="col-xs-12">
                            <img src="/Images/3n-image.png" class="img-responsive detail-image" alt="expert-image">
                        </div>
                        <div class="col-xs-12">
                            <h3>AFFORDABLE PRICES</h3>
                            <p>
                                Mauris accumsan eros eget<br> libero posuere vulputate. Etiam elit elit, elementum sed varius at,<br>libero posuere vulputate. Etiam elit
                            </p>
                        </div>
                    </div>
                    <div class="clearfix visible-sm"></div>
                    <div class="col-lg-3 col-md-3 col-sm-6 detail wow pulse" data-wow-duration="1s">
                        <div class="col-xs-12">
                            <img src="/Images/4n-image.png" class="img-responsive detail-image" alt="satisfaction-image">
                        </div>
                        <div class="col-xs-12">
                            <h3>11 CITIES</h3>
                            <p>
                                Mauris accumsan eros eget<br> libero posuere vulputate. Etiam elit elit, elementum sed varius at,<br>libero posuere vulputate. Etiam elit
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 detail wow pulse" data-wow-duration="1s">
                        <div class="col-xs-12">
                            <img src="/Images/5n-image.png" class="img-responsive detail-image" alt="inspection-image">
                        </div>
                        <div class="col-xs-12">
                            <h3>WE DELIVER</h3>
                            <p>
                                Mauris accumsan eros eget<br> libero posuere vulputate. Etiam elit elit, elementum sed varius at,<br>libero posuere vulputate. Etiam elit
                            </p>
                        </div>
                    </div>
                    <div class="clearfix visible-sm "></div>
                </div>
            </div>
        </div><!--start video-->

        <section id="video-box">
            <div class="container ">
                <div class="row">
                    <div class="video">
                        <iframe style="border:0px; width:100%; height:360px;" src="https://www.youtube.com/embed/ZLi194SIyVs" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </section>

        <!--end video--><section id="services" class="ewc-services-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                        <h2 class="section-heading wow fadeInUp" data-wow-duration="2s">
                            Our Services
                        </h2>
                        <p class="section-text wow fadeInUp" data-wow-duration="1s">
                            Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, adipiscing vitae est.<br class="hidden-sm">Sed nec felis pellentesque, lacinia dui sed, ultricies sapien.
                        </p>
                    </div>
                </div>
                <div class="row services-container">
                    <div class="col-lg-4 col-md-4 col-sm-6 wow pulse" data-wow-duration="1s">
                        <div class="service-detail">
                            <img src="/Images/ewc-service2.jpg" class="img-responsive" alt="image-1">

                            <div class="ewc-caption-1">
                                <h3>Design and Build</h3>
                                <p>onec a felis sed ligula aliquet sollicitudin a in elit. Nunc at commodo erat, fringilla egestas tortor.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 wow pulse" data-wow-duration="1s">
                        <div class="service-detail">
                            <img src="/Images/ewc-service6.jpg" class="img-responsive" alt="image-1">

                            <div class="ewc-caption-1">
                                <h3>Week Specials</h3>
                                <p>onec a felis sed ligula aliquet sollicitudin a in elit. Nunc at commodo erat, fringilla egestas tortor.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 wow pulse" data-wow-duration="1s">
                        <div class="service-detail">
                            <img src="/Images/ewc-service5.jpg" class="img-responsive" alt="image-1">

                            <div class="ewc-caption-1">
                                <h3>Week Specials</h3>
                                <p>onec a felis sed ligula aliquet sollicitudin a in elit. Nunc at commodo erat, fringilla egestas tortor.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 wow pulse" data-wow-duration="1s">
                        <div class="service-detail">
                            <img src="/Images/ewc-service3.jpg" class="img-responsive" alt="image-1">

                            <div class="ewc-caption-1">
                                <h3>Week Specials</h3>
                                <p>onec a felis sed ligula aliquet sollicitudin a in elit. Nunc at commodo erat, fringilla egestas tortor.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 wow pulse" data-wow-duration="1s">
                        <div class="service-detail">
                            <img src="/Images/ewc-service1.jpg" class="img-responsive" alt="image-1">

                            <div class="ewc-caption-1">
                                <h3>Week Specials</h3>
                                <p>onec a felis sed ligula aliquet sollicitudin a in elit. Nunc at commodo erat, fringilla egestas tortor.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-6 wow pulse" data-wow-duration="1s">
                        <div class="service-detail">
                            <img src="/Images/ewc-service4.jpg" class="img-responsive" alt="image-1">

                            <div class="ewc-caption-1">
                                <h3>Week Specials</h3>
                                <p>onec a felis sed ligula aliquet sollicitudin a in elit. Nunc at commodo erat, fringilla egestas tortor.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section><section id="content-with-left-image">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                        <h2 class="section-heading wow fadeInUp" data-wow-duration="2s">
                            Our Speciality
                        </h2>
                        <p class="section-text wow fadeInUp" data-wow-duration="1s">
                            Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, adipiscing vitae est.<br class="hidden-sm">Sed nec felis pellentesque, lacinia dui sed, ultricies sapien.
                        </p>
                    </div>
                </div>
                <div class="row section-detail">
                    <div class="col-lg-8 col-md-8 col-sm-12 about-image">
                        <img class="img-responsive" src="/Images/chef.png" alt="welcome">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 about-text">
                        <div class="col-lg-12 col-md-12 col-sm-12 detail wow pulse" data-wow-duration="1s">
                            <div class="col-xs-12 detail-icon">
                                <img src="/Images/Emergency-Available.png" class="img-responsive detail-image" alt="24/7-image">
                            </div>
                            <div class="col-xs-12">
                                <h3>Truly Tastfull</h3>
                                <p>
                                    Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 detail wow pulse" data-wow-duration="1s">
                            <div class="col-xs-12 detail-icon">
                                <img src="/Images/QulaityCleaningTools.png" class="img-responsive detail-image" alt="expert-image">
                            </div>
                            <div class="col-xs-12">
                                <h3>Affordable Price</h3>
                                <p>
                                    Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 detail wow pulse" data-wow-duration="1s">
                            <div class="col-xs-12 detail-icon">
                                <img src="/Images/service-3.png" class="img-responsive detail-image" alt="expert-image">
                            </div>
                            <div class="col-xs-12">
                                <h3>We Deliver</h3>
                                <p>
                                    Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed.
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="clearfix visible-lg"></div>
                    <div class="clearfix visible-md"></div>
                    <div class="clearfix visible-sm "></div>
                </div>
            </div>
    </section><!-- Testmonial start -->
    <section id="feedback" class="ewc-testimonials-1">
        <div class="container ">
            <div class="row">
                <div class="col-sm-12 feaadback-heading text-center">
                    <h2 class="T2Hanimate" data-animation="fadeInUp" data-offset="90%">What Client’s says</h2>
                </div>
                <div class="col-sm-6 feedback-block">
                    <p>“Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consec tetur, adipisci velit, sed quia non numquam eius modi tempora incidunt utis labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minimas veniam, quis nostrum exercitationem. “Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet</p>
                    <div class="user-information">
                        <div class="col-sm-1 user-image">
                            <img src="/Images/user.png" alt="Jon Doe">
                        </div>
                        <div class="col-sm-11 user-name text-left">
                            <h4 class="T2Hanimate" data-animation="fadeInUp" data-offset="90%">Jon Doe,<span> Company Inc.</span></h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 feedback-block">
                    <p>“Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consec tetur, adipisci velit, sed quia non numquam eius modi tempora incidunt utis labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minimas veniam, quis nostrum exercitationem. “Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet</p>
                    <div class="user-information">
                        <div class="col-sm-1 user-image">
                            <img src="/Images/user.png" alt="Jon Doe">
                        </div>
                        <div class="col-sm-11 user-name text-left">
                            <h4 class="T2Hanimate" data-animation="fadeInUp" data-offset="90%">Jon Doe,<span> Company Inc.</span></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- Testmonial end -->
<section id="footer" class="ewc-footer-3">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 footer-block text-center">
                <img src="/Images/Travel-icon_18.png" alt="map-icon">
                <h3 class="T2Hanimate" data-animation="fadeInUp" data-offset="90%">ADDRESS</h3>
                <p>250 Elizabeth Str., Melbourne, Australia</p>
            </div>
            <div class="col-sm-4 footer-block text-center">
                <img src="/Images/Travel-icon_24.png" alt="message">
                <h3 class="T2Hanimate" data-animation="fadeInUp" data-offset="90%">contact</h3>
                <p>250 Elizabeth Str., Melbourne, Australia</p>
            </div>
            <div class="col-sm-4 footer-block text-center">
                <img src="/Images/Travel-icon_21.png" alt="phone">
                <h3 class="T2Hanimate" data-animation="fadeInUp" data-offset="90%">phone</h3>
                <p>254-256-988-1 or 325-588-687</p>
            </div>
            <div class="col-sm-12 social-icon text-center">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-flickr"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-tumblr"></i></a>
            </div>

        </div>
    </div>
</section>
    </div>
<!-- /#wrap -->
    <!-- JavaScript -->
    <script src="~/Scripts/Restaurant/jquery.js" type="text/javascript"></script>
    <script src="~/Scripts/Restaurant/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Scripts/Restaurant/smoothScroll.js" type="text/javascript"></script>
    <script src="~/Scripts/Restaurant/waypoints.js" type="text/javascript"></script>
    <script src="~/Scripts/Restaurant/jquery.prettyPhoto.js" type="text/javascript"></script>
    <script src="~/Scripts/Restaurant/jquery.bxslider.js" type="text/javascript"></script>
    <script src="~/Scripts/Restaurant/jquery.counterup.js" type="text/javascript"></script>
    <script src="~/Scripts/Restaurant/script.js" type="text/javascript"></script>
@*@RenderBody()
@RenderSection("scripts", required: false)*@
</body>
</html>